[data-companion-readable-document='true'] :is(.cm-md-highlight, .cm-md-highlight-overlap, .cm-md-anchor-overlap) {
  background-color: var(--app-highlight-surface-color);
  border-radius: var(--editor-radius-md);
  cursor: pointer;
}

[data-companion-readable-document='true'] :is(.cm-md-highlight, .cm-md-highlight-overlap, .cm-md-anchor-overlap):is(:hover, .cm-md-highlight-active) {
  background-color: var(--app-highlight-surface-color);
}

[data-companion-readable-document='true'] .cm-md-cloze {
  background-color: var(--app-cloze-surface-color);
  border-radius: var(--editor-radius-md);
}
